*.DS_Store
.bundle
.idea
.powenv
.sass-cache
app/assets/javascripts/jasmine_ci_*
db/cstore
db/development_dump.sql
log/*
node_modules
*.log
public/[45][0-9][0-9].html
public/a
public/assets
public/compiled
tmp/*
spec/reports/
vendor/git
vendor/bundle
public/uploads
.vagrant
Vagrantfile
*.swp
tags
docker/id_rsa
docker/id_rsa.pub
/node_modules
/public/webpack
db/structure.sql
