  <ul class="list-margin">
    <% if @listings.present? %>
      <% @listings.each do |listing| %>
      <li>
        <span>
          <%= listing.created_at.strftime('%B %d, %Y') %>
        </span>
        <%= link_to listing.title, listing %> - (<%= listing.city %>, <%= listing.state %>)
      </li>
      <% end %>
    <% else %>
      <p>No listings found!</>
    <% end %>
  </ul>
